body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  padding: 0 5%;
  background-attachment: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
